@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background-color: #F8F8F8;
  /* background-color: #F4F4F4; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-slide {
  text-align: right;
  font-size: 18px;
  background: #fff;
  width: auto;
  /* Center slide text vertically */
  display: block;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked {
  accent-color: #1E293B; /* This is slate-800 */
}

/* styles/globals.css or Tailwind config */
.bg-noise {
    background-image: url('/textures/noise.png'); /* Add a subtle noise texture */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
